{% extends 'layout.html' %}
{% load static %}
{% block title %}
Home Page
{% endblock %}
{% block css %}
<style>
    .navbar-dark{
        /*  --bs-navbar-color:rgb(255 255 255/ 95%)!important;*/
      }
      .img_slide{
          height: 300px !important;
          float: left !important;
      }
      .growth-img{
          /* height:400px !important; */
      }
      .col{
          width: 30% !important;
          float: left !important;
          margin: 20px !important;
          margin-left:20px;
      }
</style>

{% endblock %}
