{% extends 'layout.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title%}
          Profile
{% endblock %}
{% block css %}
<style>
  body{margin-top:20px;
      background-color:#f2f6fc;
      color:#69707a;
      }
      .img-account-profile {
          height: 7rem;
      }
      .rounded-circle {
          border-radius: 50% !important;
      }
      .card {
          box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
      }
      .card .card-header {
          font-weight: 500;
      }
      .card-header:first-child {
          border-radius: 0.35rem 0.35rem 0 0;
      }
      .card-header {
          padding: 1rem 1.35rem;
          margin-bottom: 0;
          background-color: rgba(33, 40, 50, 0.03);
          border-bottom: 1px solid rgba(33, 40, 50, 0.125);
      }
      .form-control, .dataTable-input {
          display: block;
          width: 100%;
          padding: 0.875rem 1.125rem;
          font-size: 0.875rem;
          font-weight: 400;
          line-height: 1;
          color: #69707a;
          background-color: #fff;
          background-clip: padding-box;
          border: 1px solid #c5ccd6;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          border-radius: 0.35rem;
          transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      }
      
      .nav-borders .nav-link.active {
          color: #0061f2;
          border-bottom-color: #0061f2;
      }
      .nav-borders .nav-link {
          color: #69707a;
          border-bottom-width: 0.125rem;
          border-bottom-style: solid;
          border-bottom-color: transparent;
          padding-top: 0.5rem;
          padding-bottom: 0.5rem;
          padding-left: 0;
          padding-right: 0;
          margin-left: 1rem;
          margin-right: 1rem;
      }

</style>

{% endblock %}
{% block content %}

  <br>
  <div class="container-xl px-4 mt-4">
    <!-- Account page navigation-->
    <nav class="nav nav-borders"
        <b><h4>WELCOME TO <font color="green">Kawadi</font><font color="black">Techno</font></h4></b>
    </nav
    <hr class="mt-0 mb-4">
    <div class="row">
        <div class="col-xl-4">
            <!-- Profile picture card-->
            <div class="card mb-4 mb-xl-0">
                <div class="card-header">Profile Picture</div>
                <div class="card-body text-center">
                    <!-- Profile picture image-->
                    <img class="img-account-profile rounded-circle mb-0" src="/media/{{ user.profile.profile_pic }}" alt="">
                    <!-- Profile picture help block-->
                    <div class="small font-italic text-muted mb-4">JPG or PNG no larger than 5 MB</div>
                    <!-- Profile picture upload button-->
                    <button class="btn btn-primary" type="button">Upload new image</button>
                </div>
            </div><br>
            <!-- List-->
        <div class="col-12">
            <div class="list-group" id="list-tab" role="tablist">
              
              <a class="btn btn-outline-info">Edit Password</a>
              <a class="btn btn-outline-info">My Orders</a>
              <a class="btn btn-outline-info">Watch list</a>
            </div>
          </div>
          <!-- endlist-->
        </div>
        
        <div class="col-xl-8">
            <!-- Account details card-->
            <div class="card mb-4">
                <div class="card-header">Account Details</div>
                <div class="card-body">
                    <form action="" method="POST" enctype="multipart/form-data">
                       {% csrf_token %}
                        <!-- Form Group (username)-->
                        
                        <div class="mb-3">
                            <label class="small mb-1" for="inputUsername"><b>Profile Picture </b></label>
                            <!--<input class="form-control" id="inputUsername" type="text" placeholder="Enter your username" value="username">-->
                            {{form.profile_picture}}
                            
                        </div>

                        <!-- Form Row        -->
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (organization name)-->
                        
                            <!-- Form Group (location)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputLocation"><b>City</b></label>
                                {{form.city}}
                            </div>
                            
                        </div>
                        <!-- Form Group (email address)-->
                        <div class="mb-3">
                            <label class="small mb-1" for="inputEmailAddress"><b>Address 1</b></label>
                            {{form.address_line_1}} 
                        </div>
                        <div class="mb-3">
                            <label class="small mb-1" for="inputEmailAddress"><b>Address 2</b></label>
                            {{form.address_line_2}} 
                        </div>
                        <!-- Form Row-->
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (phone number)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputPhone"><b>Your Country</b></label>
                                {{form.country}}
                            </div>
                            <!-- Form Group (birthday)-->
                            
                        </div>
                        <!-- Save changes button-->
                        <button type="submit" class="btn btn-outline-success">SAVE</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>




{% endblock %}